<div class='at-form'>
<fieldset>
  <legend>更改庫存狀態</legend>

<% form_for(@pair) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :style_id %>

  <div>
    <%= f.label '商品單號' %> <%= @pair.id %>
  </div>
  <div>
    <%= f.label '訂貨日' %> <%= @pair.refill.order_date if not @pair.refill.nil? %>
  </div>
  <div>
    <%= f.label '到貨日' %> <%= @pair.refill.arrive_date if not @pair.refill.nil? %>
  </div>
	<div>
    <%= f.label '鞋款' %> <%= @pair.style.name %>
  </div>
  <div>
    <%= f.label '尺寸' %> <%= f.text_field :size, :size => 3 %>
  </div>
  <div>
    <%= f.label '特殊訂製' %> <%= f.check_box :special, :readonly => true %>
  </div>
  <div>
    <%= f.label '狀態' %> <%= f.select :status, Pair::PAIR_STATUS %>
  </div>
  <div>
    <%= f.label '樂天' %> <%= f.check_box :at_rakuten %>
  </div>
  <div>
    <%= f.label 'PChome' %> <%= f.check_box :at_pchome %>
  </div>
  <div>
    <%= f.label 'GoHappy' %> <%= f.check_box :at_gohappy %>
  </div>
  <div>
    <%= f.label 'PayEasy' %> <%= f.check_box :at_payeasy %>
  </div>
  <div>
    <%= f.label '備註' %> <%= f.text_field :note %>
  </div>
	<%= record_previous_page %>
  <div>
    <%= f.submit '更新' %>
  </div>
<% end %>

<%= link_to '檢視', @pair %> | <%= link_to 'Back', :back %> | <%= link_to '刪除', @pair, :confirm => '確定刪除？', :method => :delete %>