<h1>Double sold Pair</h1>
<table class="tableList" cellspacing="0" cellpadding="0" border="0" width="900">
  <tr>
    <th width="20">id</th>
    <th width="120">款式</th>
    <th width="50">尺寸</th>
    <th width="100">狀態</th>
    <th width="90">補單日</th>
    <th width="90">到貨日</th>
    <th width="100">購買人</th>
    <th width="90">購買日期</th>
    <th width="40"></th>
  </tr>

<% @duplicates.each do |p| 
      shade = cycle('even', 'odd') 
%>
  <tr class="<%= shade %>">
    <td><%= link_to p.id, p %></td>
    <td><%=h p.style.name %></td>
    <td align="center"><%=h p.size %></td>
    <td align="center"><%= show_pair_status(p.status) %></td>
    <td align="center"><small><%= link_to p.refill.order_date, :controller => 'refills', :action => 'show', :id => p.refill_id if not p.refill.nil? %></small></td>
    <td align="center"><small><%=h p.refill.arrive_date if not p.refill.nil? %></small></td>
    <td align="center"><%= link_to p.items[p.items.length-1].order.customer.name, :controller => 'customers', :action => 'show', :id => p.items[p.items.length-1].order.customer.id if not p.items.empty? and p.items[p.items.length-1].order and p.items[p.items.length-1].order.customer %></td>
    <td align="center"><small><%= link_to p.items[p.items.length-1].purchase_date, :controller => 'orders', :action => 'edit', :id => p.items[p.items.length-1].order_id if not p.items.empty?  %></small></td>
    <td><%= link_to edit_image, edit_pair_path(p.id) %></td> 
  </tr>
  
<% end %>
</table>
