<h1>Editing size</h1>

<% form_for(@size) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @size %> |
<%= link_to 'Back', sizes_path %>