<h1>New size</h1>

<% form_for(@size) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sizes_path %>