<% if flash[:notice] -%> 
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>
（共 <%= @orders.length %> 筆）
<table class="tableList" cellspacing="0" cellpadding="0" border="0" width="770">
	<tr>
    <th width="50">狀態</th>
    <th width="80">日期</th>
    <th width="100">顧客</th>		
    <th width="100">定價</th>
    <th width="80">折扣</th>
    <th width="80">折讓</th>
    <th width="100">實付金額</th>
    <th width="100">付款方式</th>
    <th width="80"> </th>
  </tr>
<% 
   total_cc = 0
   total_cash = 0
   total_discount = 0
   total_off = 0
   
   @orders.each do |order| 
     
     order.payment_type == Order::PAY_CREDIT_CARD ? total_cc += order.total_paid : total_cash += order.total_paid
     total_discount += order.total_discount
     total_off += order.extra_discount
%>
<% shading = cycle('even', 'odd') %>
  <tr class="<%= shading %>">
    <td><%= show_order_status(order.status) %></td>
    <td><small><%=h order.purchase_date %></small></td>
		<td><%= link_to order.customer.name, :controller => 'customers', :action => 'show', :id => order.customer_id if not order.customer.nil? %> 
		    <%= show_member_icon(order.customer.membership) if not order.customer.nil? %></td>
    <td><%= show_currency(order.total_list_price) %></td>
    <td><%= show_currency(order.total_discount, false) if not order.total_discount.nil? %></td>
		<td><%= show_currency(order.extra_discount, false) if not order.extra_discount.nil? %></td>
		<td><b><%= show_currency(order.total_paid) %></b></td>
    <td><%=h Order::PAYMENT_TYPE.rassoc(order.payment_type)[0] if order.payment_type %></td>
    <td><%= link_to '細節', edit_order_path(order) -%>
    <% if session[:user].is_admin %>
     | <%= link_to '刪除', order, :confirm => '確定要刪除?', :method => :delete -%>
    <% end %></td>
  </tr>
  <% order.items.each do |item| %>
	<%   
      itemstatus = "" 
      if item.status == Item::ITEM_PENDING and !item.pair.nil? and item.pair.status == Pair::SOLD
        itemstatus = image_tag('truck_32.png', :alt => "等客人領貨", :border => 0, :width => "24" )
      elsif !item.pair.nil? and item.pair.status == Pair::IN_TRANSIT
        itemstatus = image_tag('redcar_32.png', :alt => "等退回", :border => 0, :width => "24")
      elsif !item.pair.nil? and item.pair.status == Pair::BACK_ORDER_SOLD
        itemstatus = image_tag('xcode_32.png', :alt => "訂製中", :border => 0, :width => "24")
      end
  %>
  <tr class="<%= shading %>">
    <td><!-- <%= itemstatus %> --></td>
    <td><small><%= Item::ITEM_STATUS.rassoc(item.status)[0] if not item.status == Item::ITEM_SOLD %></small></td>
    <td colspan="3"><b><%= item.style.name if not item.style.nil? %> <small>(<%= item.size %>)</small></b></td> 
    <td colspan="2"><%= show_currency(item.list_price, false) %><%= ' - ' + show_currency(item.discount, false) if not item.discount == 0 %></td>    
    <td><% if item.percent_off != 0  %><small>(<%= item.percent_off %>% off)</small><% end %></td>
		<td><%= item.pair ? show_pair_status(item.pair.status) + "<small>" + link_to( "("+item.pair_id.to_s+")", :controller => 'pairs', :action => 'show', :id => item.pair_id) + "</small>" : 
                        "<span class='red'>" + link_to('出貨', edit_item_path(item.id)) + "</span>" %></td>
	</tr>
  <% end %>
<% end %>
</table>
<table class="tableList" cellspacing="0" cellpadding="0" border="0" width="770">
  <tr>
    <th width="50"> </th>
    <th width="80"> </th>
    <th width="80">折扣總數</th>   
    <th width="80">折讓總數</th>
    <th width="100">信用卡總額</th>
    <th width="100">現金總額</th>
    <th width="100">總銷售額</th>
    <th width="100"> </th>
    <th width="80"> </th>
  </tr>
  <tr>
    <th width="50"> </th>
    <th width="80"> </th>
    <th width="80"><%= show_currency(total_discount, false) %></th>   
    <th width="80"><%= show_currency(total_off, false) %></th>
    <th width="100"><%= show_currency(total_cc, false) %></th>
    <th width="100"><%= show_currency(total_cash, false) %></th>
    <th width="100"><%= show_currency(total_cash+total_cc, false) %></th>
    <th width="100"> </th>
    <th width="80"> </th>
  </tr>