<script type="text/javascript">
function sum() {
	var theForm = document.forms[0];
	var total_list_price = document.getElementById('order_total_list_price');
  var total_discount   = document.getElementById('order_total_discount');
  var extra_discount   = document.getElementById('order_extra_discount');
  var total_paid       = document.getElementById('order_total_paid');

	var findPrice = new RegExp(/_[0-9]+_list_price$/);
	var findDiscount = new RegExp(/_[0-9]+_discount$/);
	
	var TLP = 0;
	var TD = 0;
	for(i = 0; i < theForm.elements.length; i++) {
	  var m = findPrice.test(theForm.elements[i].id);
	  if (m) {
			TLP += parseFloat(theForm.elements[i].value);
	  }
		var m2 = findDiscount.test(theForm.elements[i].id);
		if (m2) {
			TD += parseFloat(theForm.elements[i].value);
		}
	}
	total_list_price.value = TLP;
	total_discount.value = TD;
	total_paid.value = TLP - TD - parseFloat(extra_discount.value);
}
function remove_child2(element) {
  var hidden_field = $(element).previous("input[type=hidden]");
  if (hidden_field) {
    hidden_field.value = '1';
  }
  $(element).up(".child").hide();
  $(element).up().next(3).down().value = 0;
  $(element).up().next(4).down().value = 0;
  $(element).up().next(5).down().value = 0;
  $(element).up().next(6).down().value = 0;
	sum();
}
function sync_date() {
	var purchase_date = document.getElementById('order_purchase_date');
	var findDate = new RegExp(/_[0-9]+_purchase_date$/);
	var theForm = document.forms[0];
	for (i = 0; i < theForm.elements.length; i++) {
  	var m = findDate.test(theForm.elements[i].id);
  	if (m) {
  		theForm.elements[i].value = purchase_date.value;
  	}
  }
}
function changeDisc(element) {
  var list_price = $(element).up().next().down();
  var discount = $(list_price).up().next().down();
  var subtotal = $(discount).up().next().down();
  discount.value = Math.round(list_price.value * $(element).value / 100);
  subtotal.value = list_price.value - discount.value; 
	sum();
}
</script>

<%= f.error_messages %>

<table cellspacing="2" cellpadding="0" border="0" width="780">
	<tr>
    <th><%= f.label '購買人' %></th><td colspan="3"><% if not @order.customer.nil? %>
		<%= @order.customer.name %> <%= show_member_icon(@order.customer.membership) %> &nbsp; &nbsp; &nbsp; 
		<% end %>
		搜尋客戶：<%= text_field_tag 'search' %></td>
  </tr>
	<tr><td colspan="4"><%= f.hidden_field :customer_id %>
		<%= observe_field :search, 
                  :frequency => 0.5, 
                  :update => 'customer_search',
                  :url => {:action => 'search_customer', :only_path => false},
                  :with => "'search=' + encodeURIComponent(value)" %>
			<div id="customer_search"></div></td>
	</tr>
  <tr>
    <th width="100"><%= f.label '購買日期' %></th><td width="300"><%= f.text_field :purchase_date, :size => 10, :onchange => "sync_date();" %></td>
    <th width="100"><%= f.label '訂單狀態' %></th><td width="280"><%= f.select :status, Order::ORDER_STATUS %></td>
  </tr>
  <tr>
    <th><%= f.label '定價' %></th><td><%= f.text_field :total_list_price, :size => 10, :readonly => true, :class => 'acctPriceRO' %></td>
		<th><%= f.label '付款方式' %></th><td>信用卡<%= radio_button("order","payment_type",Order::PAY_CREDIT_CARD, :checked => true) %>
		現金<%= radio_button("order","payment_type", Order::PAY_CASH) %> 
		積點<%= radio_button("order","payment_type", Order::PAY_CREDIT) %></td>
  </tr>
  <tr>
    <th><%= f.label '折扣' %></th><td><%= f.text_field :total_discount, :size => 10, :readonly => true, :class => 'acctPriceRO' %></td>
    <th rowspan="3" valign="top"><%= f.label '備註' %></th><td rowspan="3"><%= f.text_area :note, :cols => 30, :rows => 4 %></td>
  </tr>
	<tr>
    <th><%= f.label '折讓' %></th><td><%= f.text_field :extra_discount, :size => 10, :default => 0, :onchange => "sum();", :class => 'acctPrice' %></td>
  </tr>
	<tr>
    <th><%= f.label '總價' %></th><td><%= f.text_field :total_paid, :size => 10, :readonly => true, :default => 0, :class => 'acctPriceRO' %> <a href="javascript:void(0);" onclick="sum()">重計</a></td>
  </tr>
	<tr>
		<th valign="top"></th><td></td>
		<th valign="top"></th><td></td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" class="entryTable" width="800">
  <tr>
    <th width="100"><%= add_child_link '＋ 商品', 'item', f %></th>
		<th width="70"><%= f.label '狀態' %></th> 
    <th width="120"><%= f.label '款式' %></th>
    <th width="70">尺寸</th>
		<th width="50"><%= f.label '折數' %></th>
    <th width="80"><%= f.label '售價' %></th>
    <th width="60"><%= f.label '折扣' %></th>
		<th width="80"><%= f.label '小計' %></th>
    <th width="120"><%= f.label '售出日' %></th>
    <th width="50"><%= f.label '貨品' %></th>	
  </tr>
</table>
<div id='item_children'>
  <% f.fields_for :items do |item_form| %>
    <%= render :partial => 'item', :locals => { :f => item_form } %>
  <% end %>
</div>
