<%= f.error_messages %>

  <%= f.hidden_field :customer_id %>
<table cellspacing="2" cellpadding="0" border="0" width="780">
  <tr>
    <th><%= f.label '購買人' %></th><td colspan="3"><% if @order.customer %>
    <%= @order.customer.name %> <%= show_member_icon(@order.customer.membership) %> &nbsp; &nbsp; &nbsp; 
    <% end %></td>
  </tr>
  <tr><td colspan="4"><%= f.hidden_field :customer_id %></td>
  </tr>
  <tr>
    <th width="100"><%= f.label '購買日期' %></th><td width="300"><%= @order.purchase_date %></td>
    <th width="100"><%= f.label '訂單狀態' %></th><td width="280"><%= f.select :status, Order::ORDER_STATUS %></td>
  </tr>
  <tr>
    <th><%= f.label '定價' %></th><td><%= @order.total_list_price %></td>
    <th><%= f.label '付款方式' %></th><td><%= Order::PAYMENT_TYPE.rassoc(@order.payment_type)[0] if @order.payment_type %></td>
  </tr>
  <tr>
    <th><%= f.label '折扣' %></th><td><%= @order.total_discount %></td>
    <th rowspan="3" valign="top"><%= f.label '備註' %></th><td rowspan="3"><%= f.text_area :note, :cols => 30, :rows => 4 %></td>
  </tr>
  <tr>
    <th><%= f.label '折讓' %></th><td><%= @order.extra_discount %></td>
  </tr>
  <tr>
    <th><%= f.label '總價' %></th><td><%= @order.total_paid %></td>
  </tr>
  <tr>
    <th valign="top"></th><td></td>
    <th valign="top"></th><td></td>
  </tr>
</table>
<br/>
<table cellspacing="0" cellpadding="0" border="0" class="entryTable">
  <tr>
		<th width="40"></td>
    <th width="140"><%= f.label '款式' %></th>
    <th width="50"><%= f.label '尺寸' %></th>
    <th width="200"><%= f.label '出貨日' %></th>
    <th width="120"><%= f.label '貨品(id)' %></th>		
    <th width="70"><%= f.label '狀態' %></th> 
  </tr>
</table>
<div id='item_children'>
  <% f.fields_for :items do |item_form| %>
    <%= render :partial => 'item_pack', :locals => { :f => item_form } %>
  <% end %>
</div>
