<div class="child">
  <table cellspacing="0" cellpadding="0" class="entryTable" width="790">
    <tr>
    	<td width="80"><%= f.hidden_field :_destroy, :class => 'delete' %><%= remove_child_link '刪除', f %></td>
			<td width="40"><%= f.object.pair ? f.check_box(:cancelled) : "" %></td>  
      <td width="70"><%= f.select :status, Item::ITEM_STATUS %></td>
<% if f.object.style_id %>
      <td width="150"><%= f.select :style_id, @styles, {:disabled => 1..1000, :prompt => "鞋款"} -%></td>
      <td width="40"><%= f.text_field :size, :size => 3, :readonly => true -%></td>
<% else %>	
      <td width="150"><%= f.select :style_id, @styles, :prompt => "鞋款" -%></td>
      <td width="40"><%= f.select :size, [ ['尺寸', 0] ] %></td>
<% end %>
      <td width="65"><%= f.text_field :price, :size => 5, :class => 'acctPrice' %></td>
      <td width="85"> -<%= f.text_field :discount, :size => 4, :class => 'acctPrice' %></td>
			
<% if f.object.style_id %>
      <td width="180"><%= f.object.pair ? f.object.shipped_date : "" %></td>
<td width="100"><%= f.object.pair ? link_to( "("+f.object.pair_id.to_s+")", :controller => 'pairs', :action => 'show', :id => f.object.pair_id) + show_pair_status(f.object.pair.status) : 
                                          '未出貨' %></td>
<% else %>
      <td width="180"> </td><td width="100"> </td>		
<% end %>
    </tr>
		<tr>
			<td colspan="2"> </td>
		  <td colspan="6" valign="top" align="right">備註：<%= f.text_area :note, :cols => 40, :rows => 4 %></td> 
    </tr>
  </table> 
<% if !f.object.style_id %>
<%= observe_field 'order_items_attributes_NEW_RECORD_style_id',
                  :update => 'test_NEW_RECORD_js',
                  :url => { :action => 'get_sizes', :only_path => false },
                  :with => "'style_id=' + value + '&temp_record=NEW_RECORD'" -%>
		<div id="test_NEW_RECORD_js"></div>
<% end %>
</div>