<p>
  <b>Customer:</b>
  <%=h @order.customer_id %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @order.purchase_date %>
</p>

<p>
  <b>Total amount:</b>
  <%=h @order.total_paid %>
</p>

<p>
  <b>Payment type:</b>
  <%=h @order.payment_type %>
</p>

<p>
  <b>Status:</b>
  <%=h @order.status %>
</p>

<p>
  <b>Note:</b>
  <%=h @order.note %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>