<table class="tableList" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th width="60">廠商</th>
    <th width="100">型號</th>
    <th width="100">款式</th>
    <th width="100">Avi Tarsi型號</th>
    <th width="80">售價</th>
    <th> </th>
		<% if session[:user].is_manager %>
		<th width="80">成本</th>
    <th> </th>
		<% end %>
  </tr>

<% styles.each do |style| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h vendors.assoc(style.vendor_id)[1] %></td>
    <td><%=h style.vendor_model %></td>
    <td><%= link_to style.name, style %></td>
    <td><%=h style.at_model %></td>
    <td><%=h show_currency(style.price_of_today) %></td>
    <td><img src='<%=h style.thumbnail %>' border="0"></td>
    <% if session[:user].is_manager %>
		<td><%=h show_currency(style.cost) if style.cost %></td>
    <td><%= link_to '修改', edit_style_path(style) %> <br/> 
    <%= link_to '刪除', style, :confirm => '確定刪除商品？', :method => :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>