  <%= f.error_messages %>
  <div>
    <%= f.label '公司名稱' %> <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label '地址' %> <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label '連絡人' %> <%= f.text_field :contact1 %>
  </div>
  <div>
    <%= f.label '電話' %> <%= f.text_field :phone1 %>
  </div>
  <div>
    <%= f.label '連絡人2' %> <%= f.text_field :contact2 %>
  </div>
  <div>
    <%= f.label '電話2' %> <%= f.text_field :phone2 %>
  </div>
  <div>
    <%= f.label '傳真' %> <%= f.text_field :fax %>
  </div>
  <div>
    <%= f.label '銀行' %> <%= f.text_field :bank_name %>
  </div>
  <div>
    <%= f.label '銀行帳號' %> <%= f.text_field :bank_account %>
  </div>
  <div>
    <%= f.label '統一編號' %> <%= f.text_field :tax_id %>
  </div>
  <div>
    <%= f.label :note %> <%= f.text_area :note %>
  </div>