<div class='at-form'>
<fieldset>
  <legend>日結明細</legend>
  
<% form_for(@daily_revenue) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
	
	<div><small>（上次更新 by <%= @daily_revenue.user.name %> on <%= @daily_revenue.updated_at.strftime("%m/%d/%Y %I:%M%p") %>）</small></div>
  <div><%= f.submit '更新' %></div>
<% end %> 

</div>

<%= link_to '<< Back', daily_revenues_path %>