<h1>每日營業額</h1>

<%= link_to '新增日結', new_daily_revenue_path %>
<br/>
<table class="tableList" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th width="100">日期</th>
    <th width="100">營業額</th>
    <th width="100">信用卡</th>
    <th width="100">現金</th>
    <th width="100">現金存入</th>
    <th width="100">現金餘額</th>
    <th width="100">折扣總數</th>
    <th width="100">折讓總數</th>
  <% if session[:user].is_manager %>
		<th width="100"> - </th>
  <% end %>
  </tr>

<% @daily_revenues.each do |daily_revenue| %>
  <tr>
    <td align="center"><%= link_to daily_revenue.sale_date, edit_daily_revenue_path(daily_revenue) %></td>
    <td align="right"><%=h show_currency( daily_revenue.revenue, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.credit_card, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.cash, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.cash_deposit, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.reserve_cash, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.total_discount, false ) %></td>
    <td align="right"><%=h show_currency( daily_revenue.total_extra, false ) %></td>
	<% if session[:user].is_manager %>
    <td><%= link_to '刪除', daily_revenue, :confirm => '確定刪除?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
