<h1>Editing price</h1>

<% form_for(@price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :style_id %><br />
    <%= f.text_field :style_id %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @price %> |
<%= link_to 'Back', prices_path %>