<p>
  <b>Style:</b>
  <%=h @price.style_id %>
</p>

<p>
  <b>Price:</b>
  <%=h @price.price %>
</p>

<p>
  <b>Start date:</b>
  <%=h @price.start_date %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>