<div class='at-form'>
<fieldset>
  <legend>選擇商品出貨</legend>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label '訂購人' %> <%= @item.order.customer.name %>
  </div>
  <div>
    <%= f.label '款式' %> <%= @style.name %> 
  </div>
	<div>
		<%= f.label '尺寸' %> <%= f.text_field :size, :size => 5 %>
  <div>
    <%= f.label '商品編號' %> <%= f.text_field :pair_id, :size => 5 %>
  </div>
<!--  <div>
    <%= f.label :price %> <%= f.text_field :list_price %>
  </div>
  <div>
    <%= f.label :discount %> <%= f.text_field :discount %>
  </div> -->
  <div>
    <%= f.label '狀態' %> <%= f.select :status, Item::ITEM_STATUS %>
  </div>
	<div>
    <%= f.label '出貨日' %> <%= f.date_select :purchase_date, :include_blank => true, :use_month_numbers => true, :start_year => 2009, :end_year => 2015  %>
  </div>
  <div>
    <%= f.label '備註' %> <%= f.text_area :note, :cols => 40, :rows => 6 %>
  </div>
  <div>
    <%= f.submit '確定' %>
  </div>
<% end %>

</div>

<%= link_to '< Back', :back %>

<%= render(:partial => "pairs/pair_pack_list", :object => @style.pairs ) %>