<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'scaffold'%>
  <%= stylesheet_link_tag "avitarsi", :media => "all"%>
	<%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'nested_attributes.js' %>
  <%= javascript_include_tag :defaults %>
	
	<title>S C I L L A :: 管理後台 - <%= controller.controller_name + "::" + controller.action_name %></title>
</head>
<body id="store">
	<table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td><a href="/admin/login"><%= image_tag('logo_header.png', :alt => "home", :border => 0 ) %></a></td>
      <td> </td>
    </tr>
  </table>
    <div id="columns">
        <div id="side"> 
        <% if @cart %>
            <% hidden_div_if(@cart.items.empty?, :id => "cart") do %>
                <%= render(:partial => "cart", :object => @cart) %>
            <% end %>
        <% end %>

        <% if session[:user] %>
            <p>hi <%= session[:user].name %>, play hard!</p>
			
			<p>Rank: <%= User::PRIVILEGE_TYPES.rassoc(session[:user].privilege)[0] %></p>
            
			<% if session[:user].is_employee %>

      <ul>
        <% if session[:user].is_admin %>
        <li><%= link_to '員工',    :controller => 'users'  %></li>
        <% end %>
      	<li><%= link_to '廠商資料', :controller => 'vendors'  %></li>
          <ul>
            <li><%= link_to '補單歷史', :controller => 'refills'  %></li>
          </ul>
        <% if session[:user].is_manager %>
        <li>Accounting</li>
          <ul>
          	<li><%= link_to '損益報表', '/report/income_statement' %></li>
            <li><%= link_to '全部科目', :controller => 'accounts'  %></li>
						<li><%= link_to '現金帳', :controller => 'accounts', :action => 'show', :id => 1  %></li>
						<li><%= link_to '台北富邦', :controller => 'accounts', :action => 'show', :id => 2  %></li>
						<li><%= link_to '聯邦銀行', :controller => 'accounts', :action => 'show', :id => 3  %></li>
						<li><%= link_to '傳票', :controller => 'journals'  %>（<%= link_to '＋', new_journal_path, :title => "新增傳票" %>）</li>
					</ul>
			  <li>Report</li>
				  <ul>
				  	<li><%= link_to '統計會員資格', :controller => 'customers', :action => 'report' %></li>
						<li><%= link_to '款型統計數字', :controller => 'pairs', :action => 'statistics', :id => 0 %></li>
						<li><%= link_to '計算銷貨成本', :controller => 'items', :action => 'calculate_COGS', :id => 0 %></li>
						<li><%= link_to '計算營業額', :controller => 'daily_revenues', :action => 'monthly_revenue', :id => 0 %></li>
				  </ul>
        <% end %>
        <li>Products</li>
				  <ul>
		        <li><%= link_to '款式類別', :controller => 'categories'  %></li>
		        <li><%= link_to '商品款式', :controller => 'styles'  %>（<%= link_to '＋', new_style_path, :title => "新增商品" %>）</li>
		        <li><%= link_to '尺寸搜尋', :controller => 'sizes'  %></li>
						<li><%= link_to '庫存查詢', :controller => 'pairs'  %> （<%= link_to '存貨', :controller => 'pairs', :action => 'inventory_summary', :id => 0  %>）</li>  	  	  
				    <li><%= link_to '庫存全覽', :controller => 'pairs', :action => 'inventory_complete', :id => 0  %>
					</ul>
				<li>銷售／客戶管理</li>
				  <ul>
				  	<li><%= link_to '日營業額', :controller => 'daily_revenues' %>（<%= link_to '＋', new_daily_revenue_path, :title => "新增日結" %>）</li>
				  	<li><%= link_to '顧客資料', :controller => 'customers'  %>（<%= link_to '＋', new_customer_path, :title => "新增客戶資料" %>）</li>
						<li><%= link_to '售貨紀錄', :controller => 'orders'  %>（<%= link_to '＋', new_order_path, :title => "新增售貨單" %>）</li>
				    <li><%= link_to '每日售貨紀錄', :controller => 'orders', :action => 'day_index', :id => 0  %>
					</ul>
				<li>Diagnotic / Debug</li>
				  <ul>
  					<li><%= link_to 'Items/Pairs', :controller => 'pairs', :action => 'problem_items_and_pairs', :id => 0 %></li>
					</ul>
			</ul>					
			<% end %>
              
            <p><%= link_to 'Logout', :controller => :admin, :action => 'logout' %></p>
<!--            <%= link_to 'Orders',   :controller => 'orders' %><br />
            <%= link_to 'Products', :controller => 'products' %><br /> -->
			
		<% else %>
            <p>Welcome to Scilla back office!</p>
			<p>You need to login first to enjoy the ride.</p>
        <% end %>


    </div> 

    <div id="main">
        <% if flash[:notice] -%> 
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        
        <%= yield :layout %>
    </div> 

</div>

</body> 
</html>